<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://github.com/scrafy/Velocitech.Nugets.Utils.RustCodeGenerationTool.git" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="scrafy" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>